<!DOCTYPE html>
<html>
  <head>
    <title>RateMyProfs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
      <script>
        window.current_user = {
          "id": <%= current_user.id %>,
          "email": "<%= current_user.email %>",
          "first_name": "<%= current_user.first_name %>",
          "last_name": "<%= current_user.last_name %>"
        }
      </script>
      
    <% end %>
    <script type='text/javascript'>
        window.logo="<%= image_url('rmp_logo.png')%>"
        window.books="<%= image_url('books.png')%>"
        window.logo_big="<%= image_url('logo_big.png')%>"
        window.pencil="<%= image_url('pencil.png')%>"
        window.anon="<%= image_url('anonymous.png')%>"
        window.like_dislike="<%= image_url('like_dislike.png') %>"
        window.github="<%= image_url('github.png') %>"
        window.linkedin="<%= image_url('linkedin.png') %>"
        window.blackboard="<%= image_url('blackboard.png') %>"
        window.doodles="<%= image_url("doodles.jpeg") %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
